<div class='container'>

  <h1 class="mt-2"><%= @role.name %></h1>

  <div class='table-responsive mt-4'>
    <table class='table table-hover'>
      <thead class='thead-light'>
        <tr>
          <th>Class</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% @permissions.each do |permission| %>
            <tr>
                <td><%= permission.subject_class %></td>
                <td><%= permission.action%></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
