<div class="container-fluid">
  <h1 class="title">Editing Incidence</h1>
  <div class="card shadow p-5">
    <%= render 'form_update', incidence: @incidence %>
  </div>
</div>
<div class="container-fluid">
  <%= link_to incidences_path, { class: "btn return-button mt-5 mb-5"} do %>
    <i class="fas fa-arrow-circle-left"></i>
    Back
  <% end %>
  <%= link_to 'show', @incidence, class: "btn btn-success" %>
</div>
<%= javascript_pack_tag 'incidence/edit' %>