<div class="container-fluid">
  <h1 class="title">New Incidence</h1>
  <div class="card shadow p-5">
    <%= render 'form', incidence: @incidence %>
  </div>
</div>
<div class="container-fluid">
  <%= link_to :back, { class: "btn return-button mt-5 mb-5"} do %>
    <i class="fas fa-arrow-circle-left"></i>
    Back
  <% end %>
</div>