<div class="container">
  <h1 class="title">Editing Departament</h1>

  <%= render 'form', departament: @departament %>

</div>
<div class="container">
  <%= link_to departaments_path, { class: "btn return-button mt-5 mb-5"} do %>
    <i class="fas fa-arrow-circle-left"></i>
    Back
  <% end %>
  <%= link_to 'show', @departament, class: "btn btn-success" %>
</div>