<div class="container container-form d-flex  flex-column ">
  <h1 class="title">Editing Institution</h1>

  <%if(current_user.super_admin?)%>
    <%= render 'form', institution: @institution %>
  <%else%>
    <h2>You're not authorized to edit this template</h2>
  <%end%>

</div>
<div class="container">
  <%= link_to institutions_path, { class: "btn return-button" } do %>
    <i class="fas fa-arrow-circle-left"></i>
    Back
  <% end %>
  <%= link_to 'Show', @institution, class: "btn btn-warning" %>
</div>
