<div class="container container-form">
  <p id="notice"><%= notice %></p>

  <h1 class="title">Institution Details</h1>
  <div class="card p-5">
      <strong>Name:</strong>
      <%= @institution.name %>
  </div>
</div>

<div class="container">
  <%= link_to institutions_path, { class: "btn return-button" } do %>
    <i class="fas fa-arrow-circle-left"></i>
    Back
  <% end %>
  <%= link_to 'Edit', edit_institution_path(@institution), class: "btn btn-warning" %>
</div>