<div class="container-fluid">
  <h1 class="title">New Place</h1>

  <div class="card shadow p-5">
    <%= render 'form', place: @place, areas: @areas %>
    <%= link_to 'Back', places_path, class: "return-button"  %>
  </div>
</div>
